<!DOCTYPE html>
<html lang="pt_br">
  <!--
        html
        hypertext
            hiper texto
        markeup
            marcações de texto
        language
            liinguagem 
    -->
<head>
    <meta charset="UTF-8">
    <meta name="viewpotrt" content="width=device-width, initial-scale=1.0">
    
    {% block title %}
         <title>Ecoleta</title>
    {% endblock title %}
   

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">

    <link rel = "stylesheet" >

    <title>Ecoleta</title>
    <link rel="stylesheet"  href="/stayle/main.css">
   
   
    {% block styles %}
    {% endblock styles %}

    <link rel = "stylesheet" href="/stayle/responsive.css">

</head>
<body>

   <div id="{{pageId}}">
    {% block content %}
    {% endblock content %}
   </div>

   {% block modal %}
   {% endblock modal %}


    {% block scripts %}
    {% endblock scripts %}

</body>
</html>

